@font-face {
  font-family: "MyCustomFont";
  src: url(../public/fonts/Suissnord-aJR9.ttf);
}

.container {
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-bottom: 5rem;
}
.certificatesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificates {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates h2 {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: #55a7d9;
}

.allCertificates {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 85%;
  gap: 5rem;
}

.leftSideCertificates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.rightSideCertificates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftSideCertificates h3,
.rightSideCertificates h3 {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #55a7d9;
}

.leftSideCertificates ul li,
.rightSideCertificates ul li {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

.uxcell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  margin-top: -1rem;
}

.allExperienceAndSkillsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.allExperienceAndSkillsContainer h3 {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #55a7d9;
}
.experiences {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 85%;
}

.experiencesCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  background: #0d0d0d;
  border: 1px solid #d9d9d9;
  height: 260px;
  padding: 1.5rem;
  margin: 2rem 0;
}

.experiencesCard h4 {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3rem;
  color: #f2f2f2;
}

.experiencesCard span {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3rem;
  color: #d9d9d9;
  opacity: 0.75;
}

.divider {
  width: 100%;
  height: 0px;
  border: 0.5px solid #595959;
  margin-bottom: 1rem;
}

.date {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0%;
  right: 5%;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.date span {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  color: #55a7d9;
}
.iconRight {
  display: flex;
}
.iconDown {
  display: none;
}

.aboutMeAllContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
}
.aboutMe {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.imgAndHeader {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
}
.header {
  position: absolute;
  width: 393px;
  height: 128px;
  left: -15px;
  top: -35px;
  font-family: "MyCustomFont";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  color: #f2f2f2;
  z-index: 1;
  letter-spacing: 1rem;
}
.header2 {
  position: absolute;
  width: 393px;
  height: 128px;
  left: -15px;
  top: 25px;
  font-family: "MyCustomFont";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  color: #55d992;
  z-index: 1;
  letter-spacing: 1rem;
}
.img {
  margin-top: 2rem;
  border: 1px solid #595959;
}
.allInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 770px;
}
.eachInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  border: 1px solid #595959;
}
.title {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #595959;
}

.content {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.allSkills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 85%;
  padding: 0px;
  margin-top: 1rem;
}
.leftSkills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.rightSkills {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  height: 15rem;
  width: 50%;
}
.eachSkill {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 5rem;
}
.full {
  position: relative;
  width: 65%;
  height: 14px;
  left: 0px;
  top: 0px;
  background: rgba(217, 217, 217, 0.25);
}
.fullFigma {
  position: absolute;
  width: 75%;
  height: 14px;
  left: 0px;
  top: 0px;
  background: #55a7d9;
}
.fullAi {
  position: absolute;
  width: 65%;
  height: 14px;
  left: 0px;
  top: 0px;
  background: #55a7d9;
}
.fullId {
  position: absolute;
  width: 45%;
  height: 14px;
  left: 0px;
  top: 0px;
  background: #55a7d9;
}
.fullPs {
  position: absolute;
  width: 70%;
  height: 14px;
  left: 0px;
  top: 0px;
  background: #55a7d9;
}
.fullAe {
  position: absolute;
  width: 20%;
  height: 14px;
  left: 0px;
  top: 0px;
  background: #55a7d9;
}
@media only screen and (max-width: 958px) {
  .allCertificates {
    flex-direction: column;
  }
  .certificates {
    width: 80%;
  }

  .iconRight {
    display: none;
  }
  .iconDown {
    display: flex;
  }
  .allExperienceAndSkillsContainer {
    align-items: flex-start;
  }
  .allExperienceAndSkillsContainer h3 {
    margin: auto;
    padding: 2rem 0;
  }
  .allInfo {
    width: 85%;
  }
  .allSkills {
    flex-direction: column;
    width: 180%;
  }
  .rightSkills{
    margin-top: -5rem;
  }
  .eachSkill {
    padding-left: 2.5rem;
  }
}

@media only screen and (max-width: 1298px) {
  .experiences {
    flex-direction: column;
  }
  .experiencesCard {
    height: auto;
    width: 60%;
  }
  .aboutMe {
    flex-direction: column;
  }
  .img {
    margin: 2rem;
  }
  .imgAndHeader {
    width: 100%;
  }
}
